* {
    font-family: "Lucida Console", Courier, monospace;
}

h1 {
    text-align: center;
}

.myTable{
    width: 1200px;
    margin: 20px auto;
}

h2 {
    color: rgba(201, 92, 52, 0.5);
    text-align: center;
}


table {
    border: solid;
    width: 1200px;
}

th, td {
    border-bottom: solid;
    border-width: 2px;
    text-align: center;
}

.lastRow {
    border-bottom: none;
}

tbody {
    background-color: rgba(219, 182, 139, 0.5);
    font-size: large;
}

[scope*= "row"] {
    font-weight: bold;
}

thead th {
    background-color: rgba(255, 228, 196, 0.5);
    font-size: larger;
}

.firstCol {
    width: 200px;
}

.secondCol {
    width: 1000px;
}